<!-- C O O R D S   M A P   P A N E L -->
<div id="coords-map-panel"
    class="animate__animated animate__slideInRight animate__delay-3s overlay  bg-transparent px-1 py-0">
    <div class="form-group mb-1">
        <label for="map-coords-lat">
            <i class="fas fa-globe"></i>
            <i class="fas fa-arrows-alt-h"></i>
            <i class="text-info">
                Lat
            </i>
        </label>
        <input type="text" name="" id="map-coords-lat"
            class="add-anime-white bg-transparent border-secondary text-secondary form-control form-control-sm mb-0 text-sm"
            value="41.3040">
    </div>
    <div class="form-group mb-1">
        <label for="map-coords-lng">
            <i class="fas fa-globe"></i>
            <i class="fas fa-arrows-alt-v"></i>
            <i class="text-info">
                Lng </i>
        </label>
        <input type="text" id="map-coords-lng"
            class="add-anime-white bg-transparent border-secondary text-secondary form-control form-control-sm mb-0 text-sm"
            value="41.8180">
    </div>
    <div class="form-group">
        <button id="map-coords-button"
            class="btn btn-primary text-info btn-block py-0 add-anime"
            type="button">
            <i class="fas fa-map-location-dot"></i>
        </button>
    </div>
</div>